/*
color-main: #396aff
bg: #fbfefd
main-accent: #e99efd
main-text: #4b5876
shadow: rgba(17,17,26,0.1) 0px 0px 16px 
 */

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
}

.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.brand h2 {
  display: flex;
  color: #444;
  align-items: center;
}

.brand h2 span {
  color: var(--color-main);
  font-size: 2.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.7rem;
  border-radius: 7px;
  margin: 2.5rem 0rem;
}

.avatar-img {
  display: flex;
  align-items: center;
}

.avatar-info {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  width: 100%;
  height: auto;
}

.menu li {
  margin-bottom: 0.2rem;
  color: var(--main-text);
  display: flex;
  align-items: center;
  padding: 0.7 rem 0rem;
}

.menu li:active {
  background: var(--main-accent);
  padding: 0.7rem;
  border-radius: 7px;
}

.menu li span:first-child {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-main);
}
